.repo-link {
	margin-bottom: 20px;
	background-color: rgb(24, 27, 211);
	width: 150px;
}

mat-card-actions {
	margin-left: 15px;
}

.repo-link a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.info-box {
	background-color: rgb(43, 106, 241)
}

.info-box mat-card-title {
	width: 200px;
	text-align: center;
}