<mat-card class="info-box">
	<mat-card-title>{{project.name}}</mat-card-title>
	<img mat-card-image [src]="project.owner.avatar_url" width="100px"/>
	<mat-card-content>
		<mat-list>
			<mat-list-item>
				<b>id</b>{{': ' + project.id}} 
			</mat-list-item>
			<mat-list-item>
				<b>watchers</b>{{': ' + project.watchers}}
			</mat-list-item>
			<mat-list-item>
				<b>language</b>{{': ' + project.language}}
			</mat-list-item>
		</mat-list>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button [class.repo-link]="true" >
			<a href={{project.html_url}} target="_blank">go to Github</a>
		</button>	
	</mat-card-actions>
</mat-card>

